 body {
            background-color:black;
            color:white;
            text-align:center;
        }
        
        header, nav, main,footer{
            text-align: center;
            margin:0 auto;

            
        }
       
        #content {
            margin:0 auto;
            width:600px;
        }
        
       nav a {
            padding-bottom:4px;
            padding: 15px;
            font-size: 1.5em;
            color: white;
            text-decoration:none;
        }
        nav a:hover {
            border-bottom:2px orange solid;
            
            font-size: 2em;
            transition: .9s;
        }
        
        #csumb {
            width:200px;
            height:150px;
        }
        figure,div {
            float:center;
        }
        #me, #welcomeText {
            float:left;
            
        }
        footer {
            clear:left;
            color:green;
            font-size:1.5em;
        }
        td {
            padding-right: 10px;
            font-size: 1.3em;
            
        }
       
        td strong {
            color:orange;
        }
        #table-header {
            background-color: #351a00;
        }
        .css-row {
            background-color:orange;
        }
        ul {
            text-align:left;
            padding-left: 200px;
        }
        .hobby {
            color:yellow;
        }
        h1{
            font-family: 'Pacifico', cursive;
            font-size: 4em;
            margin-bottom: 0px;
        }