html {
    font-family: sans-serif;
}

td {
    width: 15px;
    height: 15px;
}

table {
    display: inline-block;
}

body {
    text-align: center;
    background-image: url("image.jpeg");
    color:white;
}

#formBox {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

#profile {
    margin: 0 auto;
    padding: 12px;
    text-align: left;
    display: inline-block;
    color: white;
}

